body {
    font-family: "Montserrat", sans-serif;
}

button {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    transition: all 0.3s !important;
}

header button a {
    padding: 0.75rem 1.5rem !important;
    color: white;
    text-decoration: none;
}

main button a {
    padding: 1.25rem 2rem !important;
    color: white;
    text-decoration: none;
}

#logo{
    transition: all 0.3s !important;
}

button:hover, #logo:hover{
    transform: scale(1.05);
}

.min-height{
    min-height: calc(100vh - 164px);
}

.cover-text, .cover, .row img{
    border-radius: 15px ;
}

.row button{
    bottom: 1.5rem;
    right: 2rem;
}

.cover-text{
    inset: 0;
}

.cover {
    max-width: 95.6%;
    inset: 0;
    opacity: 0.7;
}

#login form {
    width: 40%;
}

footer{
    height: 5rem;
}